{erl_opts, [debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

{erl_opts,  [{parse_transform, stacktrace_transform}] }.

{deps_dir, "deps"}.
{deps, [
        {certifi,           "2.5.2"},
        {ssl_verify_fun,    "1.1.5"},
        {stacktrace_compat, "1.1.2"}
]}.

{minimum_otp_vsn, "19.0"}.

{shell,
 [{apps, [lhttpc]}
 ]}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [error_handling,
    unknown
   ]}
 ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
 ]}.

{profiles,
 [{test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors,
      {d, 'SKIP_BROKEN_TEST_CASES'}
     ]}
   ]}
 ]}.
