{erl_opts, [debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

{erl_opts,  [{parse_transform, lager_transform}] }.

{deps_dir, "deps"}.
{deps, [
        {lager, ".*", {git, "https://github.com/MiniclipPortugal/lager.git", {tag, "2.1.1"}}}
]}.
