{erl_opts, [debug_info]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_export_enabled, true}.

{erl_opts,  [{parse_transform, stacktrace_transform}] }.

{deps_dir, "deps"}.
{deps, [
        {certifi, ".*", {git, "https://github.com/certifi/erlang-certifi.git", {tag, "2.4.2"}}},
        %% XXX we don't actually need parse_trans, but certifi imports it
        %% from hex.pm, which would make it impossible to build it on rebar 2.
        {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "3.3.0"}}},
        {ssl_verify_fun, ".*", {git, "https://github.com/deadtrickster/ssl_verify_fun.erl.git", {tag, "1.1.4"}}},
        {stacktrace_compat, ".*", {git, "https://github.com/g-andrade/stacktrace_compat.git", {tag, "1.0.0"}}}
]}.

{minimum_otp_vsn, "17"}.

{dialyzer,
 [{plt_include_all_deps, true},
  {warnings,
   [error_handling
   ]}
 ]}.

{xref_checks,
 [undefined_function_calls,
  undefined_functions,
  locals_not_used,
  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
 ]}.

{profiles,
 [{test,
   [{erl_opts,
     [debug_info,
      nowarn_export_all,
      nowarn_missing_spec,
      nowarnings_as_errors,
      {d, 'SKIP_BROKEN_TEST_CASES'}
     ]}
   ]}
 ]}.
